  <div class="content">
    <div class="ui sub header">
      <span class="meta ">State Code: </span> <span class="value">  {{ logItem.cd_cebroker_state }}</span>
    </div>
    <div class="ui sub header ">
      <span class="ui top right attached label">  {{ logItem.cd_cebroker_state }}</span>
      <span class="meta ">Pro Code: </span> <span class="value">  {{ logItem.pro_cde }}</span>
    </div>
    <div class="ui sub header ">
      <span class="meta">Profession: </span> <span class="value">  {{ logItem.cd_profession }}</span>
    </div>
    <div class="ui sub header ">
      <span class="meta">License ID: </span> <span class="value">  {{ logItem.id_license }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">CED: </span> <span class="value">  {{ logItem.dt_end }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">STATUS: </span> <span class="value">  {{ logItem.ds_compl_status_returned }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Client ID: </span> <span class="value">  {{ logItem.id_client_nbr }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">SLD: </span> <span class="value">  {{ logItem.dt_Start_Log }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">ELD: </span> <span class="value">  {{ logItem.dt_end_log }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Environment: </span> <span class="value">  {{ logItem.cd_environment }}</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Machine: </span> <span class="value">  {{ logItem.cd_machine }}</span>
    </div>
  </div>

  <!--<div class="content">
    <div class="ui sub header">
      <span class="meta ">State Code: </span> <span class="value">  FL</span>
    </div>
    <div class="ui sub header ">
      <span class="ui top right attached label">  FL</span>
      <span class="meta ">Pro Code: </span> <span class="value">  1701</span>
    </div>
    <div class="ui sub header ">
      <span class="meta">Profession: </span> <span class="value">  1458902</span>
    </div>
    <div class="ui sub header ">
      <span class="meta">License ID: </span> <span class="value">  1458902</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">CED: </span> <span class="value">  2020-04-30T00:00:00</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">STATUS: </span> <span class="value">  IN_PROG</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Client ID: </span> <span class="value">  1</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">SLD: </span> <span class="value">  2017-08-03T19:26:13.89923</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">ELD: </span> <span class="value">  2017-08-03T19:26:13.89923</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Environment: </span> <span class="value">  PRIMARY</span>
    </div>
    <div class="ui sub header">
      <span class="meta ">Machine: </span> <span class="value">  JAX00</span>
    </div>
  </div>-->
