<div class="ui four column grid">
  <div class="row">
    <div class="column">
      <div class="ui labeled input">
        <div class="ui label">
          From:
        </div>
        <calendar (change)="pickStartDate($event)" id="startDatePicker"></calendar>
      </div>
    </div>
    <div class="column">
      <div class="ui labeled input">
        <div class="ui label">
          To:
        </div>
        <calendar (change)="pickEndDate($event)" id="endtDatePicker"></calendar>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown" (change)="pickOrderCriteria($event.target.value)">
        <input name="STATE" type="hidden">
        <div class="default text">Order by</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="pro_cde">PRO CODE</div>
          <div class="item" data-value="cd_profession">PROFESSION</div>
          <div class="item" data-value="id_license">LICENSE ID</div>
          <div class="item" data-value="dt_end">CED</div>
          <div class="item" data-value="ds_compl_status_returned">STATUS</div>
          <div class="item" data-value="id_client_nbr">CLIENT ID</div>
          <div class="item" data-value="dt_Start_Log">SLD</div>
          <div class="item" data-value="dt_end_log">ELD</div>
          <div class="item" data-value="cd_environment">ENVIRONMENT</div>
          <div class="item" data-value="cd_machine">MACHINE</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown" #select (change)="pickState($event.target.value)">
        <input name="STATE" type="hidden">
        <i class="filter icon"></i>
        <div class="default text">Filter by state</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="FL">FL</div>
          <div class="item" data-value="GA">GA</div>
          <div class="item" data-value="OH">OH</div>
          <div class="item" data-value="LA">LA</div>
        </div>
      </div>
    </div>
  </div>
</div>
